<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🏥 Welcome to Hospital Management System</h1>

    <a href="/Registration">🧍‍♀️ Patient Registration</a>
    <a href="/login">🔑 Patient Login</a>
    <a href="/doctor_register">👨‍⚕️ Doctor Registration</a>
    <a href="/doctor_login">🩺 Doctor Login</a>
</body>
</html>
